@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Roboto:wght@400;700&display=swap');

:root{
    --Tomato: hsl(4, 100%, 67%);
    --DarkSlateGrey: hsl(234, 29%, 20%);
    --CharcoalGrey: hsl(235, 18%, 26%);
    --Grey: hsl(231, 7%, 60%);
    --White: hsl(0, 0%, 100%);
    --Box-shadow: #FD6937;
}
*,::before,::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{    
    width: 100%;
    min-height: 100vh;
    font-family: "Roboto", sans-serif;
    color: var(--DarkSlateGrey);
    background-color: var(--CharcoalGrey);
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.none{
    display: none;
}
.card{
    width: 375px;
    height: 842px;
    background-color: var(--White);
}
.cover{
    width: 100%;
    height: 17.75rem;
    background-image:url(../src/images/illustration-sign-up-mobile.svg);
}
.description{
    padding: 0 24px 0 25px;
}
.description__title{
    font-weight: 700;
    margin-top: 2.375rem;
    letter-spacing: .0475rem;
    font-size: 2.375rem;
}
.description__paragraph{
    margin-top: 1.3125rem;
    line-height: 155.023%;
    font-size: 1rem;
}
ul{
    list-style-type: none;
    margin-top: 1.4375rem;
}
.li-flex{
    display: flex;
    flex-direction: row;
}
.li-flex img{
    margin-top: -0.625rem;
}
.li-flex p {
    margin-left: 16px;
    margin-bottom: 10px;
    font-size: 1rem;
    line-height: 147.687%;
}
.flex{
    margin-top: 32px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 12px;
    font-weight: 700;
}
.error-txt {
    color: var(--tomato);
}
.flex1{
    display: flex;
    flex-direction: column;
}
.form__email{
    margin-top: 10px;
    width: 327px;
    height: 56px;
    padding-left: 22px;
    border-radius: 8px;
    border: var(--Grey) solid 1px;
}
.email-error {
    margin-top: 10px;
    width: 327px;
    height: 56px;
    padding-left: 22px;
    border-radius: 8px;
    border: var(--tomato) solid 1px;
    color: var(--tomato);
    background-color: #FFE8E6;
}
.email-error::placeholder {
    color: var(--tomato);
}
.form__button{
    margin-top: 24px;
    width: 327px;
    height: 56px;
    background-color: var(--DarkSlateGrey);
    color: var(--White);
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1rem;
    border-radius: 8px;
}
.form__button:hover{
    background: linear-gradient(
        45deg,
        #FF527A,
        #FD6937
    );
    border: none;
    box-shadow: 8px 19px 37px -9px var(--Box-shadow);
}
.success {
    width: 375px;
    height: 812px;
    background-color: var(--white);
    padding: 149px 24px 40px 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.success img {
    width: 64px;
    height: 64px;
}

.success h2 {
    margin-top: 40px;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 103.188%;
}

.success p {
    line-height: 150.188%;
    font-size: 1rem;
    margin-top: 22px;
}

#email-txt {
    font-weight: 700;
}

.success-btn button {
    text-align: center;
    background-color: var(--dark-slate-grey);
    width: 327px;
    height: 56px;
    background-color: var(--dark-slate-grey);
    color: var(--white);
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1rem;
    border-radius: 8px;
}

.success-btn button:hover {
    background-image: linear-gradient(45deg, #FF527A, #FD6937);
    border: none;
}

@media (min-width:1250px) {
    .card{
        width: 928px;
        height: 641px;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        padding: 24px 24px 24px 63px;
        border-radius: 36px;
    }
    .cover{
        width: 400px;
        height: 593px;
        background-image: url(./images/illustration-sign-up-desktop.svg);
        border-radius: 1.25rem;
    }
    .description{
        padding: 0;
        width: 376px;
    }
    .description__title{
        margin-top: 70px;
        letter-spacing: 0;
        font-size: 3.4375rem;
    }
    .description__paragraph{
        margin-top: 15px;
    }
    ul{
        margin-top: 21px;
    }
    .flex{
        margin-top: 36px;
    }
    .form__email,
    .form__button{
        width: 100%;
    }
    .success {
        width: 504px;
        height: 520px;
        background-color: var(--white);
        padding: 48px 39px 40px 64px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-radius: 36px;
    }
    .success h2 {
        font-size: 3.4375rem;
    }

    .success-btn button {
        width: 100%;
    }
}